<ion-content fullscreen="true" class="ion-padding">
  <ion-text color="primary">
    <h1>Bem-vindo.</h1>
    <p>Comece fazendo Login <br> na sua conta.</p>
  </ion-text>

  <div class="actions">

    <ion-item>
      <ion-input type="text" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Telefone"></ion-input>
    </ion-item>

    <ion-button class="signup-btn" expand="block" (click)="navigateToOtherPage()">LOGIN</ion-button>
    <p class="login">Não tem uma conta?  <a href="#">Criar uma agora</a></p>
    
  </div>
</ion-content>
